@model IEnumerable<Common_Layer.Models.Employee>

@{
    ViewData["Title"] = "Index";
}
<div class="content-index">

<h3>Index</h3>


    <a asp-action="Create" class="btn btn-primary">Add Employee</a>


</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.profileImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@Url.Content(item.profileImage)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td class="index-botton">
                @Html.ActionLink("Edit", "Edit", new {  id=item.EmployeeId  },new{@class="btn botton-shape-a"}) 
                @Html.ActionLink("Details", "Details", new {  id=item.EmployeeId  },new{@class="btn botton-shape-b"}) 
                @Html.ActionLink("Delete", "Delete", new {  id=item.EmployeeId  },new{@class="btn botton-shape-c"})
            </td>
        </tr>
}
    </tbody>
</table>
